html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

}

body {
  &.loaded {
    @include media-breakpoint-up(sm) {
      //background: $body-bg url("/../../files/theme-sac-pilatus/images/bg/background-clip-2.png") no-repeat fixed center;
    }
  }

  // Choose between these font sizes:
  //font-size: $font-size-base;
  //font-size: $font-size-xs;
  //font-size: $font-size-sm;
  //font-size: $font-size-lg;

  // Choose between thes line heights:
  //line-height: $line-height-base;
  //line-height: $line-height-sm;
  //line-height: $line-height-lg;

  font-size: $font-size-xs;
  line-height: $line-height-sm;

  @include media-breakpoint-up(xs) {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
  @include media-breakpoint-up(sm) {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
  @include media-breakpoint-up(lg) {
    font-size: $font-size-base;
    line-height: $line-height-sm;
  }
  @include media-breakpoint-up(xl) {
    font-size: $font-size-base;
    line-height: $line-height-sm;
  }

  // The font family
  font-family: $font-family-base;

  // Go easy on the eyes and use something other than `#000` for text
  color: $body-color;
  // By default, `<body>` has no `background-color` so we set one as a best practice.
  background-color: $body-bg;
}

