.ce_heroimage_element .heroimage-wrapper {

  display: flex;
  min-height: 300px;

  @include media-breakpoint-up(sm) {
    min-height: 430px;
  }
  @include media-breakpoint-up(md) {
    min-height: 460px;
  }
  @include media-breakpoint-up(lg) {
    min-height: 490px;
  }
  @include media-breakpoint-up(xl) {
    // min-height: 550px;
  }

  @media (min-width: 1800px) {
    //min-height: 650px;
  }

  .heroimage-headline-box h1 {
    color: #fff !important;
    font-weight: 200 !important;
    margin: 0;
  }

  .heroimage-headline-box {
    margin: 0 0 1.5rem 0 !important;
  }

  .heroimage-text-box {
    //font-style: italic;
    font-family: 'Roboto Slab', serif;
  }

  .heroimage-button-box {
    margin-top: 0
  }

  .heroimage-button-box > a {
    @include icon-after('\f35a', false, 'inline-flex');
    font-family: 'Roboto Slab', serif;

    &:after {
      //color: $accent-color;
    }
  }

  .heroimage-button-box {
    > .btn:hover {
      background-color: #000;
      color: #fff;
    }
  }

  @include media-breakpoint-up(sm) {

    .heroimage-headline-box h1 {
      font-size: 3.5rem;
      line-height: 1.6;
    }
  }

  @include media-breakpoint-up(lg) {

    .heroimage-headline-box h1 {
      font-size: 4.0rem;
      line-height: 1.6;
    }

  }

  @include media-breakpoint-up(xl) {
    .heroimage-headline-box h1 {
      font-size: 4.0rem;
      line-height: 1.6;
    }
  }

  @include media-breakpoint-up(xxl) {
    .heroimage-headline-box h1 {
      font-size: 4.0rem;
      line-height: 1.6;
    }
  }

}
