$breakpoint-mobile-sm: 380px; // Samsung S24+ 384px  // Samsung S24 360px

#tour-list, #course-list {
  &[v-cloak] {
    visibility: hidden;
  }
}

.content-hyperlink a:before {
  font-family: $icon-font-name;
  content: "\f019";
  margin-right: 5px;
}

// Do not show "aktuell sind keine termine vorhanden"
.empty {
  display: none;
}

.event-list-inner-box {
  .event-list-date-badge-wrapper {
    border: 1px solid $gray-200;
    min-width: 50px;
    width: 50px;
    height: 50px;

    @media (max-width: $breakpoint-mobile-sm) {
      min-width: 30px;
      width: 30px;
      height: 30px;
    }

    span.event-list-badge-day, span.event-list-badge-month {
      line-height: .75rem;

      span {
        line-height: .75rem; // 12px
        font-size: .75rem; // 12px
        font-weight: bolder;
        color: $danger;
      }
    }

    @media (max-width: $breakpoint-mobile-sm) {
      span.event-list-badge-day, span.event-list-badge-month {
        line-height: .5625rem !important;

        span {
          line-height: .5625rem !important;
          font-size: .5625rem !important;
        }
      }
    }
  }

  .event-state-icon {
    margin: 0;

    img {
      width: 1rem !important;
      height: 1rem !important;
      max-width: initial !important;
      @media (max-width: $breakpoint-mobile-sm) {
        width: 16px !important;
        height: 16px !important;
      }
    }
  }

  .event-organizer-logo img {
    height: 30px !important;
    width: 30px !important;
    min-height: 30px;
    @include media-breakpoint-up(sm) {
      height: 50px !important;
      width: 50px !important;
      min-height: 50px;
    }
  }

  .badge {
    @media (max-width: $breakpoint-mobile-sm) {
      padding: 0.1rem 0.35rem !important;
      font-size: 0.625rem !important;
    }
  }

  @include transition(background-color);
  border: 1px solid $gray-200;

  .event-list-col-1 {
    @media (max-width: 400px) {
      a, span, p, div {
        font-size: .75rem !important; // 12px
      }
      a.event-title-link strong {
        margin: 0.375rem 0 !important; // 6px
        font-size: 0.8125rem !important; // 13px
      }
    }

    .event-title-link {
      line-height: 1.2;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .badge-container .badge {
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .last-minute-tour {
    color: $green;
  }
}

.event-list-inner-box:hover {
  background-color: $gray-200;
  border-color: $gray-400;

  .event-list-col-1 {
    cursor: pointer;

    .event-list-badge-wrapper {
      border-color: $gray-400;
    }

    .last-minute-tour {
      color: $green;
    }
  }
}

.button-bar {
  ul {
    display: flex !important;

    li {
      margin-right: 5px;

      a {
        touch-action: none;
      }
    }
  }
}

.event-item-course, .event-item-tour {
  .title .headline {
    margin-top: 0;
  }

  .title a, .title a * {
    text-decoration: none !important;
    color: $link-color;
    font-size: 1rem;
  }

  .title a:hover {
    text-decoration: underline !important;
  }

  .more-date-infos {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover, &:focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }

    &:focus {
      @include tab-focus();
    }
  }

  .row {
    //padding-top: 2rem;
    //padding-bottom: $spacer-y;

    .kursstufe {
      color: $gray-400 !important;
      margin-top: $spacer-y/2;
      margin-bottom: $spacer-y;
      text-transform: uppercase;
    }

    .kursart .label-kursart {
      cursor: pointer;
    }

    .more {
      text-align: right;
    }
  }

  .event-for-beginners:before {
    font-family: $icon-font-name;
    content: "\f4c4";
    color: #ffffff;
  }
}

.event-item-course {
  .more-btn .badge {
    @extend .bg-danger;

    &:hover {
      @extend .bg-primary;
    }
  }


  .event-organizer-logo {
    bottom: 16px;
    right: 16px;
  }
}

.event-item-course.last {
  border-bottom: 0;
}

// Hide back link
.mod_eventreader {
  .back {
    display: none;
  }
}

.event-detailview {
  .overflow-auto {
    white-space: nowrap;
    scrollbar-width: thin;
  }

  .event-state-headline {
    color: $red;
  }

  .img-fluid {
    width: 100%;
  }

  .content-headline.last-minute-tour {
    color: $green;
    text-transform: inherit;
    margin-bottom: 0 !important;
    line-height: 1 !important;
  }

  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .teaser p {
    line-height: 2;
  }

  .kursstufe {
    color: green;
    margin-bottom: $spacer-y;
    text-transform: uppercase;
  }

  .eventdate {
    time {
      display: block;
    }
  }

  .instructor {
    img {
      border-radius: 0;
    }

    .instructor-name {
      margin-bottom: $spacer-y;
    }

    .ce_user_portrait_email {
      overflow-wrap: break-word;
    }
  }

  .event-detail {
    h5 {
      font-weight: bold;
    }

    p {
      margin: 0;
    }
  }

}
