#tour-list, #course-list {
  &[v-cloak] {
    visibility: hidden;
  }
}

.loading-icon-lg {

  text-align: center;
  position: relative;
  padding: 50px 0;

  .preloader-text {
    color: $gray-600;
  }

  .preloader-icon {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;

    .fa {
      color: $gray-200 !important;
    }
  }
}

.ce_hyperlink a:before {
  font-family: $icon-font-name;
  content: "\f019";
  margin-right: 5px;
}

// Do not show "aktuell sind keine termine vorhanden"
.empty {
  display: none;
}

.event-list-inner-box {

  @include transition(background-color);
  border: 1px solid $gray-200;

  .event-list-tour-col-1 {
    .event-list-date-badge-wrapper {
      min-width: 50px;
      width: 50px;
      height: 50px;
      border: 1px solid $gray-200;

      .event-list-badge-day, .event-list-badge-month {
        line-height: .8rem;
        font-size: .8rem;
        font-weight: bolder;
        color: $danger;
      }
    }

    .event-organizer-logo {
      min-height: 50px;
    }
  }

  .event-list-tour-col-2 {
    .event-state-icon {
      margin-top: -1px;
      line-height: 1.2;
    }

    .event-title-link {
      line-height: 1.2;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .badge-container .badge {
    margin-right: 4px;
    margin-bottom: 4px;
  }

  .last-minute-tour {
    color: $green;
  }
}

.event-list-inner-box:hover {
  background-color: $gray-200;
  border-color: $gray-400;

  .event-list-tour-col-1 {
    cursor: pointer;

    .event-list-badge-wrapper {
      border-color: $gray-400;
    }

    .last-minute-tour {
      color: $green;
    }
  }
}

.button-bar {
  ul {
    display: flex !important;

    li {
      margin-right: 5px;

      a {
        touch-action: none;
      }
    }
  }
}

.event-item-course, .event-item-tour {
  .title .headline {
    margin-top: 0;
  }

  .title a, .title a * {
    text-decoration: none !important;
    color: $link-color;
    font-size: 1rem;
  }

  .title a:hover {
    text-decoration: underline !important;
  }

  .more-date-infos {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover, &:focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }

    &:focus {
      @include tab-focus();
    }
  }

  .row {
    //padding-top: 2rem;
    //padding-bottom: $spacer-y;

    .kursstufe {
      color: $gray-400 !important;
      margin-top: $spacer-y/2;
      margin-bottom: $spacer-y;
      text-transform: uppercase;
    }

    .kursart .label-kursart {
      cursor: pointer;
    }

    .more {
      text-align: right;
    }
  }

  .event-for-beginners:before {
    font-family: $icon-font-name;
    content: "\f4c4";
    color: #ffffff;
  }

  .event-state-icon {
    margin-top: -0.175rem;
    margin-right: 0.5rem;

    img {
      width: 1rem !important;
      height: 1rem !important;
      max-width: initial !important;
    }
  }
}

.event-item-course {
  .badge {
    background-color: #000 !important;
  }

  .more-btn .badge {
    @extend .bg-danger;

    &:hover {
      @extend .bg-primary;
    }
  }

  .event-state-icon {
    margin-top: 0 !important;

    img {
      width: 20px !important;
      height: 20px !important;
    }
  }

  .event-organizer-logo {
    bottom: 16px;
    right: 16px;
  }
}

.event-item-course.last {
  border-bottom: 0;
}

// Hide back link
.mod_eventreader {
  .back {
    display: none;
  }
}

.event-detailview {

  .event-state-headline {
    color: $red;
  }

  .img-fluid {
    width: 100%;
  }

  .ce_headline.last-minute-tour {
    color: $green;
    text-transform: inherit;
    margin-bottom: 0 !important;
    line-height: 1 !important;
  }

  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .teaser p {
    line-height: 2;
  }

  .kursstufe {
    color: green;
    margin-bottom: $spacer-y;
    text-transform: uppercase;
  }

  .eventdate {
    time {
      display: block;
    }
  }

  .instructor {
    img {
      border-radius: 0;
    }

    .instructor-name {
      margin-bottom: $spacer-y;
    }
  }

  .event-detail {
    h5 {
      font-weight: bold;
    }

    p {
      margin: 0;
    }
  }

}
