/** Horizontal navigation **/
.h-scroll {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  border-bottom: 1px solid $gray-300;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
    height: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #ececf3;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #d2d8dd;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #d2d8dd;
  }

  .nav.horizontal-tabs {

    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    scrollbar-width: thin;

    > li.nav-item {
      padding: 4px 0 10px 0;
      margin-right: 1rem;
      border-bottom: 4px solid transparent;
      margin-bottom: 0 !important;
    }

    > li.nav-item.active {
      border-color: $red;
      padding-left: .5rem !important;
      padding-right: .5rem !important;
      background-color: $gray-100;
    }

    > li > a {
      //font-size: larger ;
      color: #000000;
      text-decoration: none;

      &:hover {
        color: $link-color;
      }

    }
  }

}

.dashboard-event-blog-gallery {

  .sortable-item {
    cursor: move;
  }

  .thumbnail {
    position: relative;

    .dashboard-event-blog-thumb-buttons-container {
      button.btn {
        padding: 4px 8px !important;
      }

      position: absolute;
      bottom: 4px;
      right: 4px;

      .missing-caption-or-photographer-name {
        background-color: black;
        color: yellow;
      }

      .blinking {
        animation: blinkingButton 1.2s infinite;
      }
    }

    @keyframes blinkingButton {
      0% {
        background-color: #000;
      }
      100% {
        background-color: $red;
      }
    }
  }

  button {
    margin-left: 4px;
    @include opacity(0.6);
    @include transition(opacity);
    cursor: pointer;
  }

  button:hover {
    @include opacity(1);
  }
}

.mod_memberPictureFeedUpload {
  .member-picture-feed-thumb {
    position: relative;
    margin-bottom: 15px;

    .member-picture-feed-thumb-buttons-container {
      position: absolute;
      bottom: 5px;
      right: 12px;

      button {
        margin-left: 5px;
      }
    }

    .member-picture-feed-upload-time-overlay {
      position: absolute;
      top: 5px;
      left: 12px;
      font-size: 9px;
      color: yellow;
    }
  }

  .tl_info {
    @extend .alert;
    @extend .alert-info;

  }

  .tl_error {
    @extend .alert;
    @extend .alert-danger;
  }

  button.add-caption {
    animation: blinkingButton 1.2s infinite;
  }

  button.add-caption[data-hascaption="1"] {
    animation: none !important;
    background-color: $green;
    border: 1px solid $green;
  }

  @keyframes blinkingButton {
    0% {
      background-color: #fff;
    }
    100% {
      background-color: $red;
    }
  }

}

.member-dashboard-avatar {
  position: relative;

  .member-dashboard-rotate-image-button {
    position: absolute;
    right: 20px;
    bottom: 5px;
    background-color: #ccc;
    padding: 5px 10px;
  }
}
