/* Contao 5 pagination */
nav[data-pagination] {
  ol {
    @extend .pagination;

    li {
      @extend .page-item;

      a {
        @extend .page-link;
      }

      margin-right: 2px;
    }
  }
}

nav.pagination {
  display: block;

  ul, ol {
    display: flex;
    padding-left: 1px;

    li {
      @extend .page-item;

      a, strong {
        @extend .page-link;
        background-color: #fff;
        border-color: $gray-300;
      }

      margin-right: 2px;
    }

    > li > strong, > li > a {
      padding-top: 4px;
      padding-bottom: 4px;
    }

  }
}

ul.pagination {

  padding-left: 1px;

  li {
    @extend .page-item;

    a {
      @extend .page-link;
      background-color: #fff;
      border-color: $gray-300;
    }

    margin-right: 2px;
  }

  > li > span, > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
  }

}
