.alert {
  display: flex;
  align-items: flex-start;
  padding: rfs-fluid-value(1.25rem !important);

  i, .svg-inline--fa {
    margin-right: rfs-fluid-value(1rem);
    @include media-breakpoint-down(sm) {
      margin-right: .5rem;
    }

    @include font-size(2rem);
  }
}

.alert.alert-lighter {
  background-color: $gray-100;
  border-color: darken($gray-100, 10%);
}
