.alert {
  display: flex;
  align-items: flex-start;

  i, .svg-inline--fa {
    @extend .me-3;
    font-size: 2em;
  }
}

.alert.alert-lighter {
  background-color: $gray-100;
  border-color: darken($gray-100, 10%);
}
