/** Event reader **/
/** Event reader **/
/** Event reader **/
.mod_eventreader {
  .back {
    display: none;
  }
}

.event-detailview {

  div:has(> .icon-box-small) {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .overflow-auto {
    white-space: nowrap;
    scrollbar-width: thin;
  }

  .event-state-headline {
    color: $red;
  }

  .event-state-box {
    .event-state-icon {
      min-width: rfs-fluid-value(2.125rem);
      width: rfs-fluid-value(2.125rem);
      margin: 0;
      padding: 0;

      img {
        min-width: $fs-base;
        width: $fs-base;
        height: auto;
      }
    }
  }

  .img-fluid {
    width: 100%;
  }

  .content-headline.last-minute-tour {
    color: $green;
    text-transform: inherit;
    margin-bottom: 0 !important;
    line-height: 1 !important;
  }

  .teaser p {
    line-height: 2;
  }

  .kursstufe {
    color: green;
    margin-bottom: $spacer-y;
    text-transform: uppercase;
  }

  .eventdate {
    time {
      display: block;
    }
  }

  .instructor {
    img {
      border-radius: 0;
    }

    .instructor-name {
      margin-bottom: $spacer-y;
    }

    .ce_user_portrait_email {
      overflow-wrap: break-word;
    }
  }

  .event-detail {
    h5 {
      margin-top: 0;
      font-weight: bold;
      overflow-wrap: break-word;
    }

    p {
      margin: 0;
    }
  }

}
