.mod_event_registration {
  /* start step-indicator */
  .step-indicator {
    .checkout-step {
      color: $gray-500;
      padding-bottom: 4px;
      font-size: .875rem;
      line-height: 1.75rem;

      @include media-breakpoint-up(sm) {
        font-size: 1.0rem;
        line-height: 2rem;
      }

      &.step--done {
        color: $body-color;
      }

      &.step--current {
        @extend .text-danger;
        border-bottom: 3px solid $red;
      }
    }

    .step-indicator-divider {
      color: $gray-500;
      margin: 0 10px;
    }
  }

  /* end step-indicator */

  [data-ffield-explanation] {
    display: none;
  }

  .ff-active [data-ffield-explanation] {
    display: block;
  }

  .bg-reg-form {
    border: 1px solid darken($body-bg, 7);
    background-color: $body-bg;

    select, input, textarea {
      background-color: #fff !important;
    }
  }

}
