// https://www.browserstack.com/guide/common-screen-resolutions
// Samsung S24+ 384px  // Samsung S24 360px // iPhone 11 414px
$breakpoint-mobile-end: 415px;

#tour-list, #course-list {
  &[v-cloak] {
    visibility: hidden;
  }
}

// Do not show "Aktuell sind keine Termine vorhanden"
.empty {
  display: none;
}

.event-list-item--inner-box {
  .event-list-item--organizer-logo img {
    height: 50px !important;
    width: 50px !important;
    min-height: 50px;
    @media (max-width: $breakpoint-mobile-end) {
      width: 45px !important;
      height: 45px !important;
      min-height: 45px;
    }
  }

  // Left column - Left column - Left column - Left column - Left column:
  // Left column - Left column - Left column - Left column - Left column:
  .event-list-item--col-1 {
    //
  }

  // Main column - Main column - Main column - Main column - Main column:
  // Main column - Main column - Main column - Main column - Main column:
  .event-list-item--col-2 {
    a, span:not(.badge), p, div {
      font-size: $fs-sm !important;
    }

    .event-list-item--event-date-span .more-date-infos {
      color: $link-color;
      text-decoration: $link-decoration;

      &:hover, &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
      }

      &:focus {
        @include tab-focus();
      }
    }

    .event-list-item--last-minute-tour {
      color: $green;
    }

    .event-list-item--title {
      a.event-list-item--title-link {
        text-decoration: none !important;
        color: $link-color;
        line-height: 1.2 !important;
      }

      a.event-list-item--title-link:hover {
        text-decoration: underline !important;
      }

      a.event-list-item--title-link strong {
        margin: 0.375rem 0 !important; // 6px
        font-size: $fs-base;
        line-height: 1.2 !important;
      }
    }

    .event-list-item--badge-container {
      margin-top: clamp-calc(.375rem, .5rem);

      .badge {
        margin-right: .25rem;
        margin-bottom: .25rem;
        //padding: clamp-calc(.2rem, .2rem * 1.125) clamp-calc(.375rem, .375rem * 1.125) !important;
        //font-size: $fs-sm !important;
        //line-height: 1 !important;
      }

      .event-list-item--see-more-link .badge {
        @extend .bg-danger;

        &:hover {
          @extend .bg-primary;
        }
      }

      .event-list-item--badge-beginners {
        color: #ffffff;
      }
    }
  }

  // Right column - Right column - Right column - Right column - Right column:
  // Right column - Right column - Right column - Right column - Right column:
  .event-list-item--col-3 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .event-list-item--event-state-icon {
      margin: 0;

      img {
        width: 1rem !important;
        height: 1rem !important;
        max-width: initial !important;
        @media (max-width: $breakpoint-mobile-end) {
          width: 16px !important;
          height: 16px !important;
        }
      }
    }
  }
}

// Tour list only - Tour list only - Tour list only - Tour list only
// Tour list only - Tour list only - Tour list only - Tour list only
.event-list-item--tour {
  .event-list-item--date-badge-wrapper {
    border: 1px solid $gray-200;
    min-width: 50px;
    width: 50px;
    height: 50px;
    @media (max-width: $breakpoint-mobile-end) {
      min-width: 45px;
      width: 45px;
      height: 45px;
    }

    span.event-list-item--badge-day, span.event-list-item--badge-month {
      line-height: .75rem;

      span {
        line-height: 1; // 12px
        font-size: 0.75em;
        font-weight: bolder;
        color: $danger;
      }
    }
  }
}

// Course list only - Course list only - Course list only - Course list only
// Course list only - Course list only - Course list only - Course list only
.event-list-item--course {
  .event-list-item--organizer-logo {
    bottom: 16px; // position absolute
    right: 16px;
  }
}
