$heroimage-font-size-scale-factor: 1.35;

#main .ce_heroimage_element .heroimage-wrapper {

  display: flex;
  min-height: clamp-calc(250px, 430px);

  .heroimage-content-box {
    padding: clamp-calc(1rem, 5.5rem);

    .lead p {
      font-size: clamp-calc(1.125rem, 1.125rem * $heroimage-font-size-scale-factor);
      line-height: 1.6;
    }
  }

  .heroimage-headline-box h1 {
    color: #fff !important;
    font-weight: 200 !important;
    margin: 0;
    line-height: 1.6;
    font-size: clamp-calc(1.75rem, 4rem);
  }

  .heroimage-headline-box {
    margin: 0;
    margin-bottom: clamp-calc(.5rem, 1.5rem);
  }

  .heroimage-text-box p, .heroimage-text-box {
    font-family: 'Roboto Slab', serif;
  }

  .heroimage-button-box {
    margin-top: 0;
    margin-bottom: clamp-calc(1rem, 2rem);
  }

  .heroimage-button-box > a.btn {
    @include icon-after('\f35a', false, 'inline-flex');
    font-family: 'Roboto Slab', serif;
    font-size: clamp-calc(1rem, 1.25rem);
    border-radius: $btn-border-radius;
    text-wrap: nowrap;
    padding: clamp-calc(0.5rem, .75rem) clamp-calc(1rem, 2rem);
  }

  .heroimage-button-box {
    > .btn:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
