$heroimage-font-size-scale-factor: 1.35;

#main .ce_heroimage_element .heroimage-wrapper {

  display: flex;
  min-height: 250px;

  @include media-breakpoint-up(sm) {
    min-height: 350px;
  }
  @include media-breakpoint-up(md) {
    min-height: 390px;
  }
  @include media-breakpoint-up(lg) {
    min-height: 480px;
  }
  @include media-breakpoint-up(xl) {
    // min-height: 550px;
  }

  @media (min-width: 1800px) {
    //min-height: 650px;
  }

  .heroimage-content-box {
    padding: 1rem 1.5rem;
    @include media-breakpoint-up(sm) {
      padding: 1rem 4rem;
    }

    .lead p {
      font-size: clamp-calc(1.125rem, 1.125rem * $heroimage-font-size-scale-factor);
      line-height: 1.6;
    }
  }

  .heroimage-headline-box h1 {
    color: #fff !important;
    font-weight: 200 !important;
    margin: 0;
    line-height: 1.6;
    font-size: clamp-calc(1.75rem, 4rem);
  }

  .heroimage-headline-box {
    margin: 0 0 1.5rem 0 !important;
  }

  .heroimage-text-box p, .heroimage-text-box {
    font-family: 'Roboto Slab', serif;
  }

  .heroimage-button-box {
    margin-top: 0;
    margin-bottom: clamp-calc(1rem, 2rem);
  }

  .heroimage-button-box > a.btn {
    @include icon-after('\f35a', false, 'inline-flex');
    font-family: 'Roboto Slab', serif;
    @include font-size(1.2rem);
    border-radius: $btn-border-radius;
    text-wrap: nowrap;
    font-size: clamp-calc(1rem, 1.5rem);
    padding: clamp-calc(0.5rem, 1rem) clamp-calc(1rem, 3rem);

    &:after {
      //color: $accent-color;
    }
  }

  .heroimage-button-box {
    > .btn:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
