.icon-box-small {
  padding: 0;
  padding-left: rfs-fluid-value(2.125rem);
  position: relative;
  overflow-x: hidden;

  &:before {
    font-family: $icon-font-name;
    content: "\f00c";
    color: $red;
    position: absolute;
    top: 0;
    left: 0;
    @include font-size(1.25rem); // Fluid font size
  }
}
