.modal-dialog {
  .modal-content {
    background-color: transparent;
    @extend .shadow;

    .modal-header {
      background-color: #ffffff;
      padding-left: 2.25rem;
      padding-right: 2.25rem;
      border: 0;
      border-bottom: 1px solid #dddddd;

      h1, h2, h3, h4, h5, h6, .modal-title {
        font-size: 1.625rem;
        font-weight: lighter;
        color: $red;
        margin-top: 1.25rem;
        margin-bottom: 0.625rem;
      }

      .btn-close {
        width: 1.25em;
        width: 1.25em;
        background: transparent var(--bs-btn-close-bg) center / 1.25em auto no-repeat;
        opacity: 1;
        //font-size: 1.25rem !important;
        filter: brightness(0) saturate(100%) invert(9%) sepia(95%) saturate(5594%) hue-rotate(352deg) brightness(77%) contrast(101%);
      }
    }

    .modal-body {
      padding: 2.25rem;
      background-color: #fff;
      border: 0;

      label {
        font-weight: bold;
      }
    }

    .modal-footer {
      background-color: $gray-300;
    }

    .error {
      @include font-size(20px);
      color: $red;
    }
  }
}
