.modal-dialog {
  .modal-content {
    background-color: transparent;
    overflow: hidden;
    @extend .shadow;

    .modal-header {
      background-color: #ffffff;
      padding-left: rfs-fluid-value(2.25rem);
      padding-right: rfs-fluid-value(2.25rem);
      border: 0;
      border-bottom: 1px solid #dddddd;

      h1, h2, h3, h4, h5, h6, .modal-title {
        @include font-size(1.625rem);
        font-weight: bold;
        color: $red;
        margin-top: rfs-fluid-value(1.25rem);
        margin-bottom: rfs-fluid-value(0.625rem);
      }

      .btn-close {
        width: 1.25em;
        width: 1.25em;
        background: transparent var(--bs-btn-close-bg) center / 1.25em auto no-repeat;
        opacity: 1;
        filter: brightness(0) saturate(100%) invert(9%) sepia(95%) saturate(5594%) hue-rotate(352deg) brightness(77%) contrast(101%);
      }
    }

    .modal-body {
      padding: rfs-fluid-value(2.25rem);
      background-color: #fff;
      border: 0;

      label {
        font-weight: bold;
      }
    }

    .modal-footer {
      background-color: $gray-300;
    }

    .error {
      @include font-size(20px);
      color: $red;
    }
  }
}
