$sidebar-bg-color: #000000;
$nav-bg-hover-color: #F6F6F6;
$nav-close-btn-color: red;
//$nav-bg-hover-color: $accent-color;

$nav-link-color: #222222;
$nav-link-color: #000000;
$nav-link-color-active: #000000;
$nav-bg-color: #FFFFFF;
$focus-outline-color: #a0d3eb;

/* Dropdown - main navigation header */
#sidebarOverlay {
  display: none;
  opacity: 0.6 !important;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background-color: $sidebar-bg-color !important;
  z-index: $zindex-navbar-aside-backdrop;
  @include transition(opacity);
}

// Thin scrollbar
#sidebar::-webkit-scrollbar {
  -webkit-appearance: none !important;
  width: 6px !important;
  background-color: #000 !important;
}

#sidebar::-webkit-scrollbar-thumb {
  border-radius: 6px !important;
  background-color: $nav-bg-hover-color !important;
}

#sidebar {
  display: none;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: $zindex-navbar-aside;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  left: -576px;
  max-width: 576px;
  background-color: $nav-bg-color;
  @include transition(left, ease-in-out, 0.7s);

  a:focus, a:focus-visible, button:focus, button:focus-visible {
    outline: 4px solid $focus-outline-color;
    outline-offset: 2px;
  }

  .navbar-brand img {
    height: 80px;
    width: auto;
  }

  .navigation-toggler.btn.btn-link {
    background: transparent;
    font-size: clamp-calc(1.75rem, 2.5rem);
    color: $nav-link-color;
    margin: 0 !important;
    padding: 2px 6px !important;
    height: auto;
    width: auto;
    line-height: 1;
  }

  .sidebar-top-container {
    @include flex-vertical-align-middle();
    background: transparent;
    z-index: 99;
    height: 78px;
    overflow: hidden;
    @include transition(height);

    .sidebar-title {
      padding-left: $spacer-x;
      color: $gray-400;
    }

    .navigation-toggler {
      position: absolute;
      right: $spacer;

      svg {
        color: $nav-close-btn-color;
        font-size: 2.5rem;
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  #sidebar.open {
    left: 0 !important;
    display: block !important;
    visibility: visible !important;
  }
}

body.sidebar-open {
  #sidebarOverlay {
    display: block;
    opacity: 0;
  }
}

//https://jsfiddle.net/markocupic/br520419/

.sidebar-navigation {
  padding: $spacer 0;
  margin: 20px 0 0 0;
  text-align: left;

  ul.level_1, ul.level_2, ul.level_3, ul.level_4 {
    width: 100%;
    list-style: none;
  }

  ul.level_1 li {
    display: flex !important;
    flex-direction: row;
    align-items: center; /* Centers content vertically */
    justify-content: space-between; /* Pushes elements apart */
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    padding-left: 1rem;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;

    > strong.active {
      color: $nav-link-color;
      font-weight: bold;
    }

    &:hover {
      > a, > strong {
        color: red !important;
      }
    }
  }

  button.toggle-submenu {
    margin-left: .75rem;
    margin-right: 1rem;
    padding: .0625rem .25rem;
  }

  a, strong {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: transparent !important;
    text-underline-offset: 0.35em;
  }

  strong.active {
    text-decoration-color: red !important;
  }

  // Show only active submenus
  ul.level_1 {
    display: block;

    ul {
      display: none;
    }
  }

  ul.level_1 li.trail > ul,
  ul.level_1 li.active.submenu > ul {
    display: block;
  }

  // Link color for non-clickable items for all levels
  ul.level_1 > li.page-container > a {
    color: $nav-link-color !important;
  }

  ul.level_2 > li.page-container > a {
    color: $nav-link-color !important;
  }

  ul.level_3 > li.page-container > a {
    color: $nav-link-color !important;
  }

  // Link color for clickable items for all levels
  ul.level_1 > li > a {
    color: $nav-link-color !important;
  }

  ul.level_2 > li > a {
    color: $nav-link-color !important;
  }

  ul.level_3 > li > a {
    color: $nav-link-color !important;
  }

  // Borders & backgrounds
  ul.level_1 {
    > li:first-child {
      border-top: 1px solid #e2e2e2;
    }

    > li {
      border-bottom: 1px solid #e2e2e2;

      &:hover {
        > a, > span, > strong {
          color: #000 !important;
        }
      }
    }
  }

  // Expand Icon for items with submenus
  ul.level_1 {
    > li.expanded {
      // Background-color for active levels
      &:before, > *, > *:before {
        color: $nav-link-color !important;
      }
    }

    li.submenu {
      > .toggle-submenu {
        vertical-align: middle;
        line-height: 1;
        cursor: pointer;
      }

      > .toggle-submenu:before {
        color: red !important;
        font-family: $icon-font-name;
        font-weight: 100;
        // fa fa-angle-right
        content: "\f105";
        font-size: clamp-calc(2rem, 3rem);
        font-style: normal;
      }

      > .toggle-submenu:before:hover {
        color: red !important;
      }

      &.expanded {
        > .toggle-submenu {
          background-color: transparent;
        }

        > .toggle-submenu:before {
          // minus fa-angle-down
          content: "\f107";
        }
      }
    }
  }

  $level_1-offset: 1.5rem;
  $level_2-offset: rfs-fluid-value(1rem);
  $level_3-offset: rfs-fluid-value(1rem);
  $level_4-offset: rfs-fluid-value(1rem);

  ul.level_1 {

    > li {
      line-height: 1.5;
      background-color: transparent;
      padding: clamp-calc(.8rem, 1.4rem);
      padding-left: clamp-calc(.8rem, 1.4rem);
      padding-right: 0;

      > .toggle-submenu:before {
        @include font-size(1.25rem);
      }

      > a, > strong {
        font-size: clamp-calc(1.25rem, 1.5rem);
        font-weight: bolder;
        max-width: calc(100% - 4.5rem);
      }

      > strong.active {
        color: $nav-link-color-active !important;
      }

      > a:hover, > strong:hover {
        color: red !important;
      }
    }
  }

  ul.level_2 {
    > li {
      line-height: 1.5;
      background-color: transparent;
      padding: .7rem;
      padding-left: .7rem;
      padding-right: 0;

      &:first-child {
        margin-top: 0;
      }

      &:hover {
        background-color: transparent;
      }

      > .toggle-submenu {
        right: 0;
        top: 5px;
      }

      > .toggle-submenu:before {
        font-size: clamp-calc(1.125rem, 1.75rem);
      }

      > a, strong {
        font-size: clamp-calc(1.125rem, 1.4rem);
        color: $nav-link-color;
        max-width: calc(100% - 4.5rem);
      }

      > strong.active {
        color: $nav-link-color-active !important;
      }

      > a:hover, > strong:hover {
        color: red !important;
      }
    }
  }

  ul.level_3 {
    > li {
      line-height: 1.5;
      background-color: transparent;
      padding: .6rem;
      padding-left: .6rem;
      padding-right: 0;

      &:first-child {
        margin-top: 0;
      }

      &:hover {
        background-color: transparent;
      }

      > .toggle-submenu {
        right: 0;
      }

      > .toggle-submenu:before {
        font-size: clamp-calc(1rem, 1.5rem);
      }

      > a, strong {
        font-size: clamp-calc(1rem, 1.3rem);
        color: $nav-link-color;
        max-width: calc(100% - 4.5rem);
      }

      > strong.active {
        color: $nav-link-color-active !important;
      }

      > a:hover, > strong:hover {
        color: red !important;
      }
    }
  }

  ul.level_4 {
    > li {
      line-height: 1.5;
      background-color: transparent;
      padding: .5rem;
      padding-left: .5rem;
      padding-right: 0;

      &:first-child {
        margin-top: 0;
      }

      &:hover {
        background-color: transparent;
      }

      > .toggle-submenu {
        right: 0;
      }

      > .toggle-submenu:before {
        font-size: clamp-calc(.875rem, 1.35rem);
      }

      > a, strong {
        font-size: clamp-calc(.875rem, 1.2rem);
        color: $nav-link-color;
        max-width: calc(100% - 4.5rem);
      }

      > strong.active {
        color: $nav-link-color-active !important;
      }

      > a:hover, > strong:hover {
        color: red !important;
      }
    }
  }
}
