.btn.btn-danger, .btn.btn-primary {
  a {
    color: #fff !important;
    &:hover {
      color: #fff !important;
    }
  }
  .fa{
    color: #fff;
  }
}

.btn.btn-primary, .btn.btn-primary:active, .btn.btn-primary:hover{
  color: #ffffff;
}

.btn.btn-success, .btn.btn-success:active, .btn.btn-success:hover{
  color: #ffffff;
}