.ce_heroimage .heroimage-wrapper {

  display: flex;

  min-height: 300px;

  @include media-breakpoint-up(sm) {
    min-height: 430px;
  }
  @include media-breakpoint-up(md) {
    min-height: 460px;
  }
  @include media-breakpoint-up(lg) {
    min-height: 490px;
  }
  @include media-breakpoint-up(xl) {
    min-height: 570px;
  }

  @media (min-width: 1800px) {
    min-height: 650px;
  }

}

.heroimage-headline-box h1 {
  //font-weight: 600 !important;
  color: #fff !important;
  font-weight: 200 !important;
}

.ce_heroimage .heroimage-headline-box {
  margin-bottom: 2rem;
}

.ce_heroimage .heroimage-text-box {
  //font-style: italic;
  font-family: 'Roboto Slab', serif;
}

.heroimage-button-box > a {
  @include icon-after('\f35a', false, 'inline-flex');
  font-family: 'Roboto Slab', serif;
  &:after {
    //color: $accent-color;
  }

}

@include media-breakpoint-up(sm) {

  .ce_heroimage .heroimage-headline-box h1 {
    font-size: 3.5rem;
    line-height: 5.2rem;
  }
}

@include media-breakpoint-up(lg) {

  .ce_heroimage .heroimage-headline-box h1 {
    font-size: 4.5rem;
    line-height: 6.75rem;
  }

}

@include media-breakpoint-up(xl) {
  .ce_heroimage .heroimage-headline-box h1 {
    font-size: 5rem;
    line-height: 7.5rem;
  }
}



