
// Tiny gutter
.row.tiny-gutter {
   margin-left: -$grid-gutter-width/4;
   margin-right: -$grid-gutter-width/4;
   & > [class*="col-"] {
     padding-left: $grid-gutter-width/4;
     padding-right: $grid-gutter-width/4;
   }
 }


// No gutter
.row.no-gutter {
  margin-left:0;
  margin-right: 0;
  & > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}