html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {


  // Choose between these font sizes:
  //font-size: $font-size-base;
  //font-size: $font-size-xs;
  //font-size: $font-size-sm;
  //font-size: $font-size-lg;

  // Choose between thes line heights:
  //line-height: $line-height-base;
  //line-height: $line-height-sm;
  //line-height: $line-height-lg;

  font-size: $font-size-sm;
  line-height: $line-height-sm;

  @include media-breakpoint-up(xs) {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
  @include media-breakpoint-up(sm) {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
  @include media-breakpoint-up(lg) {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
  @media (min-width: 1800px) {
    #main {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }

    //font-size: $font-size-base;
    //line-height: $line-height-lg;
  }

  // The font family
  font-family: $font-family-base;

  // Go easy on the eyes and use something other than `#000` for text
  color: $body-color;
  // By default, `<body>` has no `background-color` so we set one as a best practice.
  background-color: $body-bg;
}

