a:hover, a:focus{
  background-color: transparent;
  color: darken($link-color, 10);
}

$headline-font-weight: 600;

h1, h2, h3, h4, h5, h6 {
  font-weight: $headline-font-weight;
  color: #000;
}

.ce_headline {
  font-weight: $headline-font-weight;
}


// Set headline
$text-elements: (
        h1: (
                font-size: 42px,
                line-height: 1.55,
                margin-top: 2rem,
                margin-bottom: 2rem,
                font-weight: $headline-font-weight
        ),
        h2: (
                font-size: 38px,
                line-height: 1.5,
                margin-top: 2rem,
                margin-bottom: 0.5rem,
                font-weight:$headline-font-weight
        ),
        h3: (
                font-size: 34px,
                line-height: 1.25,
                margin-top: 2rem,
                margin-bottom: 0.5rem,
                font-weight:$headline-font-weight
        ),
        h4: (
                font-size: 30px,
                line-height: 1,
                margin-top: 1.5rem,
                margin-bottom: 0.5rem,
                font-weight:$headline-font-weight
        ),
        h5: (
                font-size: 26px,
                line-height: 1,
                margin-top: 1.5rem,
                margin-bottom: 0.5rem,
                font-weight:$headline-font-weight
        ),
        h6: (
                font-size: 22px,
                line-height: 1,
                margin-top: 1.5rem,
                margin-bottom: 0.5rem,
                font-weight:$headline-font-weight
        ),
        legend: (
                font-size: 22px,
                line-height: 1.5,
                margin-top: 2rem,
                margin-bottom: 0.5rem,
                font-weight: bold
        ),
);

// Scalling down headline font-size for mobile devices
@each $key, $map in $text-elements {
  #{$key} {
    @include font-size(map-deep-get($text-elements, $key, "font-size"));
    line-height: map-deep-get($text-elements, $key, "line-height");
    margin-top: map-deep-get($text-elements, $key, "margin-top");
    margin-bottom: map-deep-get($text-elements, $key, "margin-bottom");
    font-weight: map-deep-get($text-elements, $key, "font-weight");
  }
}




// Underline
#main h1.ce_headline, .ce_text > h1 {
  text-align: left;
  color: #000;
  font-weight: 700;
  //text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08em;

  //font-family: "Roboto Slab", serif;

  &:after {
    content: "";
    width: 150px;
    background: $accent-color;
    margin: 15px auto !important;
    margin-bottom: 1em;
    height: 2px;
    display: block;

  }

}

.mobile-title-heading {
  h1 {
    @include transition(font-size);
    @extend .h1;
    font-weight: 500;
    color: #000;
    margin: 0;
    padding: 0;
    line-height: 1;
  }
}

// Lists
ul {
  list-style-type: none;
  padding: 0;
}

.unordered_list {
  ul {
    li {
      line-height: 1.7;
      display: table-row;
      margin-top: 2.5rem;

      &:before {
        content: "\f105";
        font-family: $icon-font-name;
        color: #666;
        font-weight: normal;
        display: table-cell;
        padding-right: 10px;
      }
    }
  }
}

.hyphenate, .hyphenate * {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}












