/** Fade in */
body {
  animation: visible 1.5s;
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#header {
  @extend .mb-lg-3;

  .header-navbar-row-0 > .inner {
    @extend .container-lg; // 100% width < lg (large screens)
    max-width: $mc-container-max-width;
  }

  .header-navbar-row-1 > .inner {
    @extend .container-lg;
    max-width: $mc-container-max-width;
  }
}

#wrapper {
  overflow-x: hidden;
  padding-left: $spacer-0;
  padding-right: $spacer-0;

  #container {

    /**
     * Margins and paddings
     */
    .mod_article {
      margin-bottom: 0;
      margin-top: 0;
    }

    .mod_article > .article-inside.container {
      max-width: $mc-container-max-width;
      width: 100%; // override container class
      margin-left: 0; // override container class
      margin-right: 0; // override container class
      padding: $spacer-3 $spacer-4;

      @include media-breakpoint-up(sm) {
        // more vertical & horizontal padding on large screens
        padding: $spacer-5 $spacer-4;
      }

      @include media-breakpoint-up(lg) {
        @extend .container;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .mod_article > .article-inside.container.p-0 {
      padding: 0
    }

    // Do not add any padding to the first element inside .mod_article > .article-inside because there is already set one
    .mod_article > .article-inside > *:first-child:not(script) {
      margin-top: 0;
    }

    // Do not add any padding to the first element inside .mod_article > .article-inside because there is already set one
    .mod_article > .article-inside > [class*="mod_"]:first-child > *:first-child {
      margin-top: 0;
    }

    .mod_article > .article-inside > [class*="ce_"]:first-child > *:first-child {
      margin-top: 0;
    }

    .mod_article > .article-inside.container-fluid {
      padding: 0;
    }


    /**
     * Background colors and colors
     */
    .mod_article {
      background-color: transparent;

      .article-inside {
        background-color: #ffffff;
        overflow: hidden;
      }
    }

    .mod_article.article-transparent {
      background-color: transparent;

      > .article-inside {
        background-color: transparent;
      }
    }

    .mod_article.article-boxed-white {
      background-color: transparent;

      > .article-inside {
        background-color: #fff;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }

    .mod_article.article-boxed-gray {
      background-color: transparent;

      > .article-inside {
        background-color: #fff;
      }
    }

    .mod_article.article-boxed-blue {
      background-color: transparent;

      > .article-inside {
        background: linear-gradient(90deg, rgba(0, 130, 199, 1) 0%, rgba(0, 79, 121, 1) 96%);
      }
    }

    .mod_article.article-blue {
      background: transparent;
      color: #fff;

      > .article-inside {
        background: $blue;
      }

      a, h1, h2, h3, h4, h5, h6 {
        color: #fff !important;
      }

      h1:after {
        background-color: #fff;
      }

    }

    .mod_article.article-white {
      background-color: transparent;

      > .article-inside {
        background-color: #fff;
      }
    }

    .mod_article.article-gray {
      background-color: transparent;

      .article-inside {
        background: #fafafa;
      }
    }

    .mod_article.article-dark-gray {
      background-color: transparent;

      > .article-inside {
        background-color: #cfcfcf;
      }
    }
  }

  // Tour detail/course detail
  .mod_article {
    .box-layout-transparent, .box-layout-white {
      @extend .mt-3;
      @extend .mb-3;
      @extend .p-2;
      @extend .p-sm-3;

      > *:first-child {
        margin-top: 0;

        > h1, h2, h3, h4, h5, h6 {
          margin-top: 0;
        }
      }
    }

    .box-layout-transparent {
      background-color: transparent;
    }

    .box-layout-white {
      background-color: #ffffff;
    }
  }

}
