.font-family-serif {
  font-family: $font-family-serif;
}

$headline-font-weight: $font-weight-bolder;

body {
  font-size: 16px;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .ce_headline {
  font-weight: $headline-font-weight;
  color: #000;
}

strong, #main .mod_article strong > * {
  @extend .fw-bold;
}

h2, .ce_headline {
  font-weight: 700;
}

// Underline h1
#main h1.ce_headline, [class*="ce_"] > h1, [class*="mod_"] > h1 {
  text-align: left;
  color: $blue;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.08em;
  font-family: $font-family-serif;
  // Vorschlag Buffoni
  //font-family: "Source Serif Pro", serif;

  /**
    &:after {
      content: "";
      width: 150px;
      background: $blue;
      margin-top: 1rem;
      margin-bottom: 1rem;
      height: 2px;
      display: block;
    }
  */
}


// headline font-size, line-height & margin
$mc_scale_factors: ("xs": 1.1, "sm": 1.1, "md": 1.1, "lg": 1.125, "xl": 1.15, "xxl": 1.4);
$mc_font_size_bases_map: ("h1,.h1": "2rem", "h2,.h2": "1.5rem", "h3,.h3": "1.30rem", "h4,.h4": "1.2rem", "h5,.h5": "1.15rem", "h6,.h6": "1.1rem");

@each $mc_breakpoint, $mc_font_size_factor in $mc_scale_factors {
  @include media-breakpoint-up($mc_breakpoint) {
    @each $mc_selector, $mc_font_size_base in $mc_font_size_bases_map {
      #{$mc_selector} {
        font-size: calc(#{$mc_font_size_base} * #{$mc_font_size_factor});
        line-height: calc(#{$mc_font_size_base} * #{$mc_font_size_factor} * 1.6);
        margin-top: calc(#{$mc_font_size_base} * #{$mc_font_size_factor} * 1);
        margin-bottom: calc(#{$mc_font_size_base} * #{$mc_font_size_factor} * .5);
      }
    }
  }
}

// font-size
$mc_scale_factors: ("xs": 1, "sm": 1, "md": 1, "lg": 1, "xl": 1.1, "xxl": 1.1);
$mc_font_size_bases_map: ("div,p,li,legend,label,td,th": "1rem", "small,.small": "0.8rem");

@each $mc_breakpoint, $mc_font_size_factor in $mc_scale_factors {
  @include media-breakpoint-up($mc_breakpoint) {
    @each $mc_selector, $mc_font_size_base in $mc_font_size_bases_map {
      #{$mc_selector} {
        font-size: calc(#{$mc_font_size_base} * #{$mc_font_size_factor});
      }
    }
  }
}

div, p, li, legend, label, td, th {
  //@include rfs(1.124rem, 'font-size');
  font-weight: 400;
}

// line-height
$mc_scale_factors: ("xs": .9, "sm": .95, "md": 1, "lg": 1.1, "xl": 1.15, "xxl": 1.25);
$mc_font_size_bases_map: ("div,p,li,legend,label,td,th": "0.9rem");

@each $mc_breakpoint, $mc_font_size_factor in $mc_scale_factors {
  @include media-breakpoint-up($mc_breakpoint) {
    @each $mc_selector, $mc_font_size_base in $mc_font_size_bases_map {
      #{$mc_selector} {
        line-height: calc(#{$mc_font_size_base} * #{$mc_font_size_factor} * 1.7);
        line-height: 1.6;
      }
    }
  }
}

// Margin
$mc_scale_factors: ("xs": .9, "sm": .95, "md": 1, "lg": 1.05, "xl": 1.1, "xxl": 1.15);
$mc_font_size_bases_map: ("p,li,legend,label": "0.9rem");

@each $mc_breakpoint, $mc_font_size_factor in $mc_scale_factors {
  @include media-breakpoint-up($mc_breakpoint) {
    @each $mc_selector, $mc_font_size_base in $mc_font_size_bases_map {
      #{$mc_selector} {
        margin-top: calc(#{$mc_font_size_base} * #{$mc_font_size_factor} * 1.5);
        margin-bottom: calc(#{$mc_font_size_base} * #{$mc_font_size_factor} * 1.3);
      }
    }
  }
}

label {
  @extend .mb-2;
}

ul {
  list-style-type: none;
  padding: 0;
}

.unordered_list {
  ul {
    li {
      line-height: 1.7;
      display: table-row;
      margin-top: 2.5rem;

      &:before {
        content: "\f105";
        font-family: $icon-font-name;
        color: #666;
        font-weight: normal;
        display: table-cell;
        padding-right: 10px;
      }
    }
  }
}

.hyphenate, .hyphenate * {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

// Links
a {
  text-underline-position: under;
}

a:hover, a:focus {
  background-color: transparent;
  color: darken($link-color, 10);
}
