$fs-base: clamp-calc($font-size-base, $font-size-base * 1.125); // dynamic font-size
$fs-sm: clamp-calc($font-size-base * 0.875, $font-size-base * 1.125 * 0.875); // dynamic font-size

#main p {
  line-height: 1.6; // optimized readability
  margin-top: clamp-calc(0.5rem, 1.25rem);
  margin-bottom: clamp-calc(0.5rem, 1.25rem);
  // dynamic font-size(1rem); // dynamic margin
}

#main p, div, legend {
  font-size: clamp-calc($font-size-base, $font-size-base * 1.125); // dynamic font-size
}

// Individuelle Anpassungen für spezifische Heading-Größen
// Map to store heading configurations
$headings-map: (
        h1: (1.5, 600), //margin, font-weight
        h2: (1.4, 600),
        h3: (1.3, 600),
        h4: (1.2, 600),
        h5: (1.1, 600),
        h6: (1.0, 600),
);

// Loop through the map and apply styles
@each $heading, $values in $headings-map {
  #{$heading} {
    @extend .#{$heading}; // @extend .h1;
    font-weight: nth($values, 2);
    @include margin-top(nth($values, 1) * 1rem); // Dynamic margin-top
    @include margin-bottom(nth($values, 1) * 1rem); // Dynamic margin-bottom
  }
}


// Underline h1
#main h1.content-headline, [class*="content-"] > h1, [class*="mod_"] > h1 {
  text-align: left;
  color: $blue;
  font-weight: 700;
  font-family: $font-family-serif;
}

ul {
  @extend .list-unstyled;
}

.unordered_list {
  ul {
    li {
      line-height: 1.7;
      display: table-row;
      margin-top: clamp-calc(1rem, 2.5rem);

      &:before {
        content: "\f105";
        font-family: $icon-font-name;
        color: #666;
        font-weight: normal;
        display: table-cell;
        padding-right: clamp-calc(.5rem, 1rem);
      }
    }
  }
}

.hyphenate, .hyphenate * {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

// Links
a {
  text-underline-position: under;

  &:before {
    text-decoration: none !important;
    display: inline-block;
  }
}

a:hover, a:focus {
  color: darken($link-color, 10);
}

