p {
  @include rfs($font-size-base); // dynamic font-size
  line-height: 1.6; // optimized readability
  @include margin-top(1rem); // dynamic margin
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
  line-height: 1.5;
}

// Individuelle Anpassungen für spezifische Heading-Größen
// Map to store heading configurations
$headings-map: (
        h1: (2.5, 1.5), // font-size, and margin (rem)
        h2: (2, 1.25),
        h3: (1.75, 1),
        h4: (1.5, 0.8),
        h5: (1.25, 0.6),
        h6: (1.1, 0.5)
);

// Loop through the map and apply styles
@each $heading, $values in $headings-map {
  #{$heading} {
    @include font-size(nth($values, 1) * 1rem); // Fluid font size
    @include margin-top(nth($values, 2) * 1rem); // Dynamic margin-top
    @include margin-bottom(nth($values, 2) * 1rem); // Dynamic margin-bottom
  }
}

// Underline h1
#main h1.content-headline, [class*="content-"] > h1, [class*="mod_"] > h1 {
  text-align: left;
  color: $blue;
  font-weight: 700;
  font-family: $font-family-serif;
}

ul {
  @extend .list-unstyled;
}

.unordered_list {
  ul {
    li {
      line-height: 1.7;
      display: table-row;
      margin-top: 2.5rem;

      &:before {
        content: "\f105";
        font-family: $icon-font-name;
        color: #666;
        font-weight: normal;
        display: table-cell;
        padding-right: 10px;
      }
    }
  }
}

.hyphenate, .hyphenate * {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

// Links
a {
  text-underline-position: under;

  &:before {
    text-decoration: none !important;
    display: inline-block;
  }
}

a:hover, a:focus {
  color: darken($link-color, 10);
}

