
.carousel-control-prev {
  justify-content: flex-start;
  opacity: 1;
}

.carousel-control-next {
  justify-content: flex-end;
  opacity: 1;
}


.carousel-control-next, .carousel-control-prev {
  &:hover {
    //opacity: 1;
    .carousel-control-prev-icon, .carousel-control-next-icon {
      background-color: transparent;
      &:before{
        color: #fff;
      }
    }
  }
  width: auto;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
  transition: all ease-in-out 0.4s;
  display: inline-block;
  width: 65px;
  height: 65px;
  background-color: #fff;
  background-color: transparent;
  padding: 0 15px;
  line-height: 50px;
  background-image: none;
  &:before{
    font-family: $icon-font-name;
    font-size: 65px;
    color: $gray-400;
    font-weight: 100;

  }
}
.carousel-control-prev-icon:before{
  content:"\f053";
}

.carousel-control-next-icon:before{
  content:"\f054";
}


