.card-columns {
  @include media-breakpoint-only(sm) {
    @include column-count(2);
  }
  @include media-breakpoint-only(md) {
    @include column-count(2);
  }
  @include media-breakpoint-only(lg) {
    @include column-count(3);
  }
  @include media-breakpoint-only(xl) {
    @include column-count(4);
  }
  .card-date {
    color: $gray-500;
  }
  a > .card-title .card-title {
    color: #d50000 !important;
    line-height: 1.4;
  }
  .card {
    position: inherit;
  }
}

.card {
  margin-bottom: $grid-gutter-width/2;
  .caption {
    display: none;
  }
  figure {
    max-width: 100% !important;
  }
  img {
    @extend .img-fluid;
  }
  .card-body {
    a, .card-title {
      color: #d50000 !important;
      line-height: 1.4;
      text-decoration-color: $red;
    }
  }
}
