.mod_event_feedback_form {
  .sac-ev-fb-event-title {
    color: $red;
  }

  .sac-ev-fb-form {
    padding-top: 2rem;
    background-color: #e9ecef;
    background-color: transparent;
    padding: 2rem;
  }

  button[name="mp_form_pageswitch"][value="continue"] {
    @extend .btn;
    @extend .btn-success;
  }

  button[name="mp_form_pageswitch"][value="back"] {
    @extend .btn;
    @extend .btn-light;
  }

  .widget {
    @extend .mb-4;
  }

  .widget.widget-placeholder {
    .label {
      @extend .mt-3;
      font-weight: bold;
    }

    .value {
      font-style: italic;
    }
  }

  .widget-pagebreak {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    column-gap: 1rem;
  }
}
