.filter-board {
  width: 100%;
  padding: 15px;
  background-color: #343434;
  a.select-organizer-all {
    color: #f8f8f8;
  }
  label {
    color: #fff;
  }
  .close-event-filter-button {
    color: #fff;
    border: 1px solid #fff;
  }

  .select2-container--default .select2-selection--multiple {
    border-radius: 0 !important;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: $blue !important;
    color: #fff !important;
    border: 0;
    border-radius: 2px !important;
    .select2-selection__choice__remove {
      color: #fff;
    }
  }

  .chosen-choices {
    padding: 6px 12px !important;
  }
  .chosen-search-input {
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
  }
}

@include media-breakpoint-down(md) {

  .col-event-filter {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 380px;
    max-width: 100%;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    z-index: 1100;
    background-color: #343434;
  }

  .col-event-filter.expanded {
    display: block;
  }
}

.event-filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 1099;
}