input.custom-input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.widget.custom-input-file > label {
  font-size: 1em;
  font-weight: normal !important;
  color: $gray-500;
  background-color: white;
  padding: 2rem 4rem;
  text-align: center;
  border: 1px solid $gray-400;
  @include icon-before('f382');
  display: block;
  &:before{
    display:block;
    font-size: 2rem;
    padding:0;
    margin:0;
    margin-bottom: 10px;
  }
}
.widget.custom-input-file {

  input.custom-input-file:focus ~ label,
  .custom-input-file ~ label:hover {
    background-color: red;
  }

  label.custom-input-file {
    cursor: pointer; /* "hand" cursor */
  }
  input.custom-input-file:focus ~ label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
}