#footer {
  $footer-bg-color-row-1: #e9ecef;
  $footer-bg-color-row-2: #fdfdfd;
  $footer-color: #333;
  $footer-link-color: #333;

  .footer-nav {
    ul {
      text-align: center;
    }

    margin-top: 1rem;

    li {
      display: inline;
      margin: 0;
      line-height: 2;
      padding: 0 0.75rem;

      * {
        color: $footer-color !important;
        font-weight: normal !important;
        //text-transform: uppercase;
        text-decoration: none;

        &:hover {
          //color: #000000 !important;
        }

        &.active {
          font-weight: normal !important;
          //color: #fff !important;
        }
      }

    }

    &:first-child {
      border: none;
    }
  }

  * {
    //font-size: 0.875rem !important;
  }

  [class*="footer-row-"] {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }

  .footer-row-1 {
    background-color: $footer-bg-color-row-1;
    color: $footer-color;

    a, a > * {
      color: $footer-link-color !important;
      &:hover{
        text-decoration: underline;
        text-underline-position: under;
        color: $footer-link-color;
      }
    }

    .title {
      font-weight: bold;
    }

    .row > div > div {
      padding: 0 8px;
    }
  }

  .footer-row-2 {
    .container{
      //border-top: 1px solid #807d7d;
      padding-top:2rem;
    }
    background-color: $footer-bg-color-row-2;
    color: $footer-color !important;

    a, a > * {
      color: $footer-link-color !important;
      &:hover{
        text-decoration: underline;
        text-underline-position: under;
        color: $footer-link-color;
      }
    }

    .title {
      color: $footer-color;
    }

    #socialIcons ul {
      display: flex;

      li {
        margin-right: 5px;
      }
    }
  }

}
