#footer {
  $footer-bg-color: #122;
  font-size: 0.875rem;
  .footer-nav {
    ul {
      text-align: center;
    }
    margin-top: 1rem;
    li {
      display: inline;
      margin: 0;
      line-height: 2;
      padding: 0 0.75rem;
      * {
        color: #d0021b !important;
        font-weight: normal !important;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
          color: #fff !important;
        }
        &.active {
          font-weight: normal !important;
          color: #fff !important;
        }
      }

    }
    &:first-child {
      border: none;
    }
  }

  * {
    //font-size: 0.875rem !important;
  }
  [class*="footer-row-"] {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }

  .footer-row-1 {
    background-color: $footer-bg-color;
    color: $gray-100;
    border-top: 1px solid darken($gray-300, 4);
    a {
      color: $gray-600 !important;
    }
    .title {
      font-weight: bold;
    }
    .row > div > div {
      padding: 0 8px;
    }
  }

  .footer-row-2 {
    background-color: $footer-bg-color;
    color: #8b889b !important;
    a {
      color: #8b889b !important;
    }
    .title {
      color: #d7d5e5;
    }

    #socialIcons ul {
      display: flex;
      li {
        margin-right: 5px;
      }
    }
  }

}