#footer {
  $footer-bg-color: transparent;
  $footer-color: #333;
  font-size: $font-size-sm;
  line-height: $line-height-sm;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
  @media (min-width: 1600px) {
    font-size: $font-size-lg;
    line-height: $line-height-base;
  }

  .footer-nav {
    ul {
      text-align: center;
    }
    margin-top: 1rem;
    li {
      display: inline;
      margin: 0;
      line-height: 2;
      padding: 0 0.75rem;
      * {
        color: $footer-color !important;
        font-weight: normal !important;
        //text-transform: uppercase;
        text-decoration: none;
        &:hover {
          color: #000 !important;
        }
        &.active {
          font-weight: normal !important;
          //color: #fff !important;
        }
      }

    }
    &:first-child {
      border: none;
    }
  }

  * {
    //font-size: 0.875rem !important;
  }
  [class*="footer-row-"] {
    padding-top: $spacer;
    padding-bottom: $spacer;
  }

  .footer-row-1 {
    background-color: $footer-bg-color;
    color: $footer-color;
    a, a > * {
      color: $primary !important;
    }
    .title {
      font-weight: bold;
    }
    .row > div > div {
      padding: 0 8px;
    }
  }

  .footer-row-2 {
    background-color: $footer-bg-color;
    color: $footer-color !important;
    a, a > * {
      color: $primary !important;
    }
    .title {
      color: $footer-color;
    }

    #socialIcons ul {
      display: flex;
      li {
        margin-right: 5px;
      }
    }
  }

}