
// Bootstrap
.widget {
  @extend .form-group;
}

input.text, input.captcha, textarea, .widget>select {
  @extend .form-control;
}
button {
  //@extend .btn;
}
button:hover * {
  text-decoration: none !important;
}

.btn {
  font-size: $font-size-sm;
}
.submit{
  @extend .btn;
  @extend .btn-outline-primary;
}

.article-blue .submit{
  @extend .btn-danger;
}


#main {
  .formbody {
    background: transparent;

    position:relative;
    & > *{
      box-sizing: border-box;
    }
    fieldset {
      margin: $spacer 0 2rem 0;
      legend {
        margin-bottom: $spacer;
        border-bottom: 1px solid $gray-300;
      }
    }
    textarea {
        line-height:2;
    }

    .checkbox_container, .radio_container {
      display: flex;
      align-items: baseline;
      position: relative;
      label, input
      {
        margin: 0;
        padding: 0;
      }
      input {
        margin-right: .75rem;
        background-color: blue;
      }

    }
    .checkbox_container, .radio_container, .submit_container {
      margin: 2rem 0;
    }

    // Special treatment for radio or checkbox widgets
    .widget .checkbox_container, .widget .radio_container {
      span {
        display: flex;
        align-items: baseline;
      }
    }
    .widget.error{
      .error{
        color: $alert-danger-text;
      }
    }

    .captcha_text {
      margin-top: 10px;
      display: block;
    }

    label {
      font-weight: bold;
    }


    span.mandatory, .captcha_text {
      display: inline-block !important;
    }
    
    .widget .invisible{
        display: none;
    }
    
    // Do not hide comments label in the comment form
    label[for="ctrl_comment"].invisible {
      display: block;
      visibility: visible !important;
    }
    .submit {
      margin-top: $spacer-y;
    }

  }


}






