#header {
  background-color: #fff;
  .header-row-0 {
    font-size: $font-size-base;
    background-color: #2baaff;
    background-color: #f8f8f8;
    background-color: #d50000;
    background-color: #fff;
    border: 1px solid $gray-100;
    .btn-primary {
      background-color: #d50000;
      border: 0;
    }
    div {
      color: lightgray;
    }
    a, a:hover {
      //color: dodgerblue;
    }


  }

  .header-row-1 {
    @include transition(all);
      background: #f9f9f9;
    background-color: #fff;
    border-bottom: 1px solid $gray-200;


    .logo-header {
      height: 70px;
      @include media-breakpoint-up(lg) {
        height: 80px;
      }
      @include media-breakpoint-up(xl) {
        height: 100px;
      }
      width: auto;
    }



    .header-search-form {
      margin: 0;
    }

    .header-button-container {
      .btn {
        cursor: pointer !important;
      }
      i.fa {
        font-size: 1.5rem !important;
      }
    }
    .fa-search {
      color: #999999;
    }
    .fa-navicon {
      color: #000000;
    }
  }
  .header-row-2 {
    max-height: 0;
    background-color: #fff;
    transition: max-height ease-in-out 1s;
    overflow: hidden;
    .form-control {
      width: 300px;
    }
    .btn {
      //background-color: #08c;
    }
    input[type="search"] {
      text-align: center;
      color: #000;
      background-color: #fff;
      border-color: #eee;

    }
    .btn {
      // background-color: #fff;
      //border-color: #eee;
      //color: #000;

    }
  }
  .header-row-3 {
    .header-banner-image{
      img{
        width: 100% !important;
      }
    }
  }
}

body.search-bar-open #header .header-row-2 {
  max-height: 200px; /* approximate max height */
}
