
#header {
  background-color: #fff;
  .header-navbar {
    .header-navbar-row-0 {
      font-size: $font-size-sm;
      background-color: #57c655;
      background-color: #2baaff;
      background-color: #d50000;
      background-color: #fff;
      background-color: $gray-100;
      background-color: #4682b4;
      background-color: dodgerblue;
      background-color: $accent-color-2;
      border: 1px solid $gray-100;
      .btn-primary {
        background-color: #d50000;
        border: 0;
      }
      div {
        color: lightgray;
      }
      a, a:hover {
        color: dodgerblue;
        color: #fff;
      }

    }

    .header-navbar-row-1 {
      background-color: #fff;
      border-bottom: 1px solid $gray-200;

      .logo-header {
        height: 60px;

        @include media-breakpoint-up(lg) {
          height: 70px;
        }
        @include media-breakpoint-up(xl) {
          height: 80px;
        }
        width: auto;
      }

      .header-search-form {
        margin: 0;
      }

      .header-button-container {
        .btn {
          cursor: pointer !important;
        }
        i.fa {
          font-size: 1.5rem !important;
        }
      }
      .fa-search {
        color: $gray-900;
        @include transition(color);
        &:hover {
          color: #d50000;
        }
      }
      .fa-bars  {
        color: #000000;
      }
    }
    .header-navbar-row-2 {
      max-height: 0;
      background-color: #fff;
      transition: max-height ease-in-out 1s;
      overflow: hidden;
      .form-control {
        width: 300px;
      }
      .btn {
        //background-color: #08c;
      }
      input[type="search"] {
        text-align: center;
        color: #000;
        background-color: #fff;
        border-color: #eee;

      }
      .btn {
        // background-color: #fff;
        //border-color: #eee;
        //color: #000;

      }
    }
  }

  .header-row-3 {
    // Set a top margin becaus there is a fixed header
    margin-top: 117px;
    @include media-breakpoint-up(lg) {
      margin-top: 127px;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 128px;
    }
    .header-banner-image {
      img {
        width: 100% !important;
      }
    }
  }
}
// Search bar open
body.search-bar-open #header .header-navbar-row-2 {
  max-height: 300px; /* approximate max height */
}

.header-navbar {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0
}

.headroom {
  transition: transform .5s ease-in-out;
  will-change: transform
}

.headroom--pinned {
  transform: translateY(0)
}

.headroom--unpinned {
  transform: translateY(-100%)
}

.animated {
  -webkit-animation-duration: .7s;
  -moz-animation-duration: .7s;
  -o-animation-duration: .7s;
  animation-duration: .7s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  will-change: transform, opacity
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%)
  }
  100% {
    -webkit-transform: translateY(0)
  }
}

@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-100%)
  }
  100% {
    -moz-transform: translateY(0)
  }
}

@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-100%)
  }
  100% {
    -o-transform: translateY(0)
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%)
  }
  100% {
    transform: translateY(0)
  }
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0)
  }
  100% {
    -webkit-transform: translateY(-100%)
  }
}

@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0)
  }
  100% {
    -moz-transform: translateY(-100%)
  }
}

@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0)
  }
  100% {
    -o-transform: translateY(-100%)
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-100%)
  }
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp
}

