.event-export-row-headline td{
  border-top: 1px solid $border-color;
  border-bottom: none !important;
  color: dodgerblue;
}

.event-export-row-subheadline td{
  border-bottom: none !important;
}

.event-export-row-teaser td{
  border-bottom: none !important;
}

.event-export-row-details td{
  border-bottom: none !important;
}
