
.image_container {
  overflow: hidden;
}

.image_container img {
  @include transition(all);
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

.ce_gallery {
  ul.gallery-grid {
    @extend .row;
    @extend .gx-2;
    @extend .gy-2;
    margin: -8px -4px 0 -4px !important;

    li.gallery-grid-item {
      margin: 8px 0 0 0 !important;
      padding: 0 4px !important;
      @extend .col-12;
      @extend .col-sm-4;
      @extend .col-md-3;

      img {
        width: 100%;
        max-width: 100%;
      }
    }
  }

}

// Do not show caption on mobile phones
@include media-breakpoint-up(sm) {
  .ce_gallery .caption {
    display: none;
  }
}
