
.image_container {
  overflow: hidden;
}

.image_container img {
  //width: 100%;
  @include transition(all);
  &:hover {
    //transform: scale(1.1);
  }
}

img {
  height: auto;
  max-width: 100%;
}

figure{
  margin:0;
  padding:0;
}

.ce_gallery {
  ul:first-child{
    @extend .row;
    li {
      @extend .col-6;
      @extend .col-sm-4;
      @extend .col-md-3;
      margin-top: $grid-gutter-width/4;
      margin-bottom: $grid-gutter-width/4;
      padding-left: $grid-gutter-width/4;
      padding-right: $grid-gutter-width/4;
    }
  }
  .row {
    [class*="col-"] {
    }
  }
}

// Do not show caption on mobile phones
@include media-breakpoint-up(sm) {
      .gallery_creator .caption {
        display: none;
      }
      .ce_gallery .caption {
        display: none;
      }
}