.dashboard-event-story-gallery {
  > div[class*="col"] {
    margin-bottom: $spacer-y;
    margin-top: $spacer-y;
  }
  .sortable-item {
    cursor: move;
  }
  .thumbnail {
    position: relative;
    button {
      position: absolute;
      bottom: 10px;
      right: 26px;
      @include opacity(0.4);
      @include transition(opacity);
      cursor: pointer;
    }
    button:hover{
      @include opacity(1);
    }
  }
}

