.dashboard-event-story-gallery {

  .sortable-item {
    cursor: move;
  }
  .thumbnail {
    position: relative;
    .dashboard-event-story-thumb-buttons-container {
      position: absolute;
      bottom: 4px;
      right: 4px;
    }
    button {
      margin-left: 4px;
      @include opacity(0.6);
      @include transition(opacity);
      cursor: pointer;
    }
    button:hover {
      @include opacity(1);
    }
  }
}

.member-picture-feed-thumb {
  position: relative;
  margin-bottom: 15px;
  .member-picture-feed-thumb-buttons-container {
    position: absolute;
    bottom: 5px;
    right: 12px;
    button{
      margin-left: 5px;
    }
  }
}


.member-dashboard-avatar {
  position: relative;

  .member-dashboard-rotate-image-button {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background-color: #ccc;
    padding: 5px 10px;
  }
}

