/** Horizontal navigation **/
.h-scroll {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  border-bottom: 1px solid $gray-300;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
    height: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #ececf3;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #d2d8dd;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #d2d8dd;
  }
  .nav.horizontal-tabs {

    display: flex;
    flex-direction: row !important;
    flex-wrap: nowrap;
    scrollbar-width: thin;
    > li.nav-item {
      padding: 4px 0 10px 0;
      margin-right: 1rem;
      border-bottom: 4px solid transparent;
    }

    > li.nav-item.active {
      border-color: red;

    }

    > li > a {
      //font-size: larger ;
      color: #000000;
      text-decoration: none;

      &:hover {
        color: $link-color;
      }

    }
  }

}

.dashboard-event-story-gallery {

  .sortable-item {
    cursor: move;
  }
  .thumbnail {
    position: relative;
    .dashboard-event-story-thumb-buttons-container {
      position: absolute;
      bottom: 4px;
      right: 4px;
    }
    button {
      margin-left: 4px;
      @include opacity(0.6);
      @include transition(opacity);
      cursor: pointer;
    }
    button:hover {
      @include opacity(1);
    }
  }
}

.member-picture-feed-thumb {
  position: relative;
  margin-bottom: 15px;
  .member-picture-feed-thumb-buttons-container {
    position: absolute;
    bottom: 5px;
    right: 12px;
    button {
      margin-left: 5px;
    }
  }
  .member-picture-feed-upload-time-overlay {
    position: absolute;
    top: 5px;
    left: 12px;
    font-size: 9px;
    color: yellow;
  }
}

.member-dashboard-avatar {
  position: relative;
  .member-dashboard-rotate-image-button {
    position: absolute;
    right: 20px;
    bottom: 5px;
    background-color: #ccc;
    padding: 5px 10px;
  }
}

