.loading-icon-lg {

  text-align: center;
  position: relative;
  padding: 50px 0;

  .preloader-text {
    color: $gray-600;
  }

  .preloader-icon {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;

    .fa {
      color: $gray-200 !important;
    }
  }
}

.ce_hyperlink a:before {
  font-family: $icon-font-name;
  content: "\f019";
  margin-right: 5px;
}

// Do not show "aktuell sind keine termine vorahanden"
.empty {
  display: none;
}

.event-list-inner-box {

  @include transition(background-color);
  border: 1px solid $gray-200;

  .event-list-badge-wrapper {
    min-width: 50px;
    width: 50px;
    height: 50px;
    border: 1px solid $gray-200;

    .event-list-badge-day, event-list-badge-month {
      line-height: 1;
    }
  }

  .last-minute-tour {
    color: $green;
    font-size: $font-size-sm;
  }
}

.event-list-inner-box:hover {
  background-color: $gray-200;
  border-color: $gray-400;

  .event-list-tour-col-1 {
    cursor: pointer;

    .event-list-badge-wrapper {
      border-color: $gray-400;
    }

    .last-minute-tour {
      color: $green;
      font-size: $font-size-sm;
    }
  }
}

.button-bar {
  ul {
    display: flex !important;

    li {
      margin-right: 5px;

      a {
        touch-action: none;
      }
    }
  }
}

.event-item-course, .event-item-tour {
  .title .headline {
    margin-top: 0;
  }

  .title a, .title a * {
    text-decoration: none !important;
    color: $link-color;
    font-size: 1.125rem !important;
  }

  .title a:hover {
    text-decoration: underline !important;
  }

  .more-date-infos {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover, &:focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }

    &:focus {
      @include tab-focus();
    }
  }

  .row {
    padding-top: 2rem;
    padding-bottom: $spacer-y;

    .kursstufe {
      color: $gray-400 !important;
      margin-top: $spacer-y/2;
      margin-bottom: $spacer-y;
      text-transform: uppercase;
    }

    .kursart .label-kursart {
      cursor: pointer;
    }

    .more {
      text-align: right;
    }

  }

  .event-for-beginners:before {
    font-family: $icon-font-name;
    content: "\f4c4";
    color: #ffffff;
  }

  .event-state-icon {
    font-family: $icon-font-name;
    margin-right: 6px;
    font-style: normal;
    font-weight: 900;
  }

  .event-state-icon.event_status_1:before {
    content: "\f111";
    color: $green;
  }

  .event-state-icon.event_status_2:before {
    content: "\f056";
    color: $red;
  }

  .event-state-icon.event_status_3:before {
    content: "\f111";
    color: $red;
  }

  .event-state-icon.event_status_4:before {
    content: "\f05e";
    color: $red;
  }

  .event-state-icon.event_status_5:before {
    content: "\f111";
    color: $orange;
  }

  .event-state-icon.event_status_6:before {
    content: "\f06a";
    color: $orange;
  }

  .event-state-icon.event_status_7:before {
    content: "\f06a";
    color: #000000;
  }

  .event-state-icon.event_status_8:before {
    content: "\f28b";
    color: $red;
  }

}

.event-item-course.last {
  border-bottom: 0;
}

// Hide back link
.mod_eventreader {
  .back {
    display: none;
  }
}

.event-detailview {


  .event-state-headline {
    color: $red;
  }

  .img-fluid {
    width: 100%;
  }

  .ce_headline.last-minute-tour {
    color: $green;
    text-transform: inherit;
    margin-bottom: 0 !important;
    line-height: 1 !important;
  }

  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .teaser p {
    line-height: 2;
  }

  .kursstufe {
    color: green;
    margin-bottom: $spacer-y;
    text-transform: uppercase;
  }

  .eventdate {
    time {
      display: block;
    }
  }

  .instructor {
    img {
      border-radius: 0;
    }

    .instructor-name {
      margin-bottom: $spacer-y;
    }
  }

  .event-detail {
    h5 {
      font-weight: bold;
    }

    p {
      margin: 0;
    }
  }

}

