.modal-dialog {
  .modal-header {
    background-color: $accent-color-2;

    .modal-title {
      color: white;
    }
    .close {
      color: white;
    }
  }
  .modal-body {
    font-weight: bold;
  }
  .error {
    font-size: 1rem;
    color: red;
  }
}
