.modal-dialog {
  .modal-header {
    background-color: $accent-color-2;
    background-color: $gray-100;
    .modal-title {
      color: $red;
    }
    .close {
      color: $gray-600;
    }
  }
  .modal-body {
    //font-weight: bold;
  }
  .error {
    font-size: 1rem;
    color: $red;
  }
}
