.mod_breadcrumb {
  ul {
    display: flex;

    li {
      padding: 0 0.25rem;
    }

    li.first {
      padding-left: 0;
    }

    li::after {
      content: "/";
      margin-left: 0.5rem;
    }

    li.last::after {
      content: "";
    }
  }
}
