
.fixed-tabs-aside-layer{
  //@extend .blur-in-overlay;
}
.loading-icon-lg {
  div {
    text-align: center;
  }

  .fa {
    font-size: 4rem;
    color: #ccc;
  }
}

.filter-board {
  .row > div {
    margin-bottom: 2rem;
  }
  .filter-select {
    width: 100%;
  }
}

.ce_hyperlink a:before {
  font-family: "FontAwesome";
  content: "\f019";
  margin-right: 5px;
}

// Loading icon
.mod_eventlist {
  .loading-icon-lg {
    .fa {
      color: red;
    }
  }

  .button-bar {
    ul {
      display: flex !important;
      li {
        margin-right: 5px;
        a {
          touch-action: none;
        }
      }
    }
  }
}

.kursmodul-sac-liste {
  .title .headline {
    margin-top: 0;
  }
  .more-date-infos {
    color: $link-color;
    text-decoration: $link-decoration;

    @include hover-focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }

    &:focus {
      @include tab-focus();
    }
  }

  .row {
    padding-top: 2rem;
    padding-bottom: $spacer-y;
    .kursstufe {
      color: $gray-400 !important;
      margin-top: $spacer-y/2;
      margin-bottom: $spacer-y;
      text-transform: uppercase;
    }
    .kursart .label-kursart {
      cursor: pointer;
    }
    .more {
      text-align: right;
    }

  }
  .fa {
    font-family: $icon-font-name;
    margin-right: 6px;
  }
  .fa.event_status_1:before {
    content: "\f111";
    color: green;
  }
  .fa.event_status_2:before {
    content: "\f28e";
    color: red;
  }
  .fa.event_status_3:before {
    content: "\f111";
    color: red;
  }
  .fa.event_status_4:before {
    content: "\f05e";
    color: red;
  }
  .fa.event_status_5:before {
    content: "\f111";
    color: orange;
  }
}

.kursmodul-sac-liste.last {
  border-bottom: 0;
}

.event-detailview {
  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .teaser p {
    font-weight: bold !important;
    margin-bottom: 1rem;
    color: #111;
  }

  .kursstufe {
    color: green;
    margin-bottom: $spacer-y;
    text-transform: uppercase;
  }

  .eventdate {
    time {
      display: block;
    }
  }

  .instructor {
    img {
      border-radius: 0;
    }
    .instructor-name {
      margin-bottom: $spacer-y;
    }
  }




}

.course-registration-form {
  .widget {
    margin-bottom: 1.5rem;
  }
  input, select {
    @extend .form-control;
  }
  button {
    @extend .btn;
    @extend .btn-danger;
  }
}
