$navbar-height: 40px;
$navbar-dropdown-color: #888;

#header {
  * {
    overflow: visible;
  }
  .navbar-header .mod_navigation {
    margin-bottom: 10px;
    overflow-y: visible;
    background-color: #fff;
    color: #000;

    ul, li {
      margin: 0;
      padding: 0;
      line-height: 1;
    }
    ul.level_1 {

      background-color: transparent;
      display: flex;

      // Dropdown toggle
      > li.dropdown > button.dropdown-toggle {
        border: 0;
        background: 0;
        padding: 0 6px;
        &:after {
          display: none
        }
        .fa {
          font-size: 1.5rem;
          &:before {
            margin: 0;
            content: "\f107"
          }
        }
      }
      > li.dropdown.show > button.dropdown-toggle {
        .fa {
          font-size: 1.5rem;
          &:before {
            content: "\f106"
          }
        }
      }

      > li {
        padding: 0 $spacer-x;
        margin-right: 4px;
        border-bottom: 3px solid #fff;
        height: $navbar-height;
      }
      > li.active, > li.trail, > li:hover, li.show {
        border-bottom: 3px solid $blue;
        @include transition(border);
      }
      > li > a, > li > strong {
        line-height: $navbar-height;
        color: #000;
        text-transform: uppercase;
      }
      > li.submenu > a:after, li.submenu > .toggler {
        padding-left: $spacer-x;
        color: #000;
      }

      > li.show, > li:hover {
        > a, > a:after, > strong {
          text-decoration: none;
        }
      }

    }

    ul.level_2.dropdown-menu {

      //speech bubble effect http://ilikepixels.co.uk/drop/bubbler/
      &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 10px 10px;
        border-color: #FFFFFF transparent;
        display: block;
        width: 0;
        top: -10px;
        left: 30px;
      }
      &:before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 0 10px 10px;
        border-color: $gray-300 transparent;
        display: block;
        width: 0;
        z-index: 0;
        top: -11px;
        left: 30px;
      }
      // End speech bubble

      top: 20px !important;
      border: 1px solid $gray-300;
      width: 300px;
      background-color: #fff;
      a, strong {
        color: $navbar-dropdown-color;
        font-size: 13px;
      }
      > li {
        line-height: 3;
        border-top: 1px solid $gray-300;
        padding: 0 $spacer-x;
      }
      > li:first-child {
        border: 0;
      }
    }
    ul.level_3 {
      a, strong {
        color: $navbar-dropdown-color;
        font-size: 12px;

      }
      > li {
        line-height: 2.5;
        border-top: 1px solid #444;
        padding: 0 $spacer-x;
      }
      > li:first-child {
        border: 0;
      }
    }
    ul.level_4 {
      a, strong {
        color: $navbar-dropdown-color;
        font-size: 11px;

      }
      > li {
        line-height: 2.25;
        border-top: 1px solid #444;
        padding: 0 $spacer-x;
      }
      > li:first-child {
        border: 0;
      }
    }
  }
}