$bgcolor: $blue;
.nav.nav-tabs {
  border-bottom-color: $bgcolor;

  .nav-item .nav-link.active, .list-group-item.active {
    background-color: $blue;
    color: #fff;
    border-color: $blue;
  }

}