.mod_search_custom_overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #ffffff;
  text-align: center;
  background: $blue;
  z-index: 100000;
  text-align: center;

  .close-button {
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    border: none;
    &:hover{
      cursor: pointer;
    }
  }
  .formbody {
    width: 100%;

    .search-headline {
      color: #fff;
      margin-bottom: 2rem;
    }
    .search-input {
      text-align: center;
      margin-bottom: 2rem;
      input[type="search"] {
        width: 400px;
        max-width: 80%;
        display: inline !important;
      }

    }

    .submit {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
    }
  }
}

.mod_search_custom_overlay {

  -webkit-transition: opacity 0.4s linear;
  -moz-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;

  &.is-pre-active, &.is-active {
    display: block !important;
  }
  &.is-pre-active {
    opacity: 0;
  }
  &.is-active {
    opacity: 0.95;
  }
}

.mod_search_custom_overlay:before {
  content: "";
  display: block;
  height: 50%;
  margin-bottom: -6.66667em;
}