.ce_serviceLink {
  @include rfs(2rem, padding-top);
  @include rfs(2rem, padding-bottom);

  [class*="fa-"] {
    padding: 27px 25px;
    width: 100px;
    height: 100px;
    margin-bottom: 0;
    color: #333;
    display:flex;
    justify-content: center;
    @include transition(color);
    @include font-size(3rem !important);

    &:hover {
      cursor: pointer;
    }
  }

  .service-link-wrapper {
    > * {
      text-align: center !important;
    }

  }

  .service-link-icon {
    display: flex;
    justify-content: center;
  }

  .service-link-headline {
    margin-top: 0 !important;
    @include rfs(1rem, margin-bottom);
    @include font-size(1.5rem !important);
  }

  .service-link-headline a {
    text-decoration: none;
    font-weight: 400;
  }

  .service-link-button {
    text-align: center;
    @extend .more;
  }
}

.article-blue .ce_serviceLink {
  [class*="fa-"] {
    color: #000;

    &:hover {
      color: #fff;
    }
  }

  .service-link-headline, .service-link-headline a {
    color: #fff;

    &:hover {
      color: #000;
    }
  }
}
