.mod_sitemap {



  .level_1 {
    >li{
      margin: 1.5rem 0 0 0;
      padding:0;
      > a, > span {
        font-size: 1.25rem !important;
        font-weight: bold;
        display: block;
      }
    }
  }

  .level_2 {
    margin-left: 1rem;

    > li > a, > li > span {
      font-size: 1.125rem !important;
      //font-weight: bold;
    }
  }

  .level_3 {
    margin-left: 1rem;
    > li > a, > li > span {
      font-size: 1 !important;
      //font-weight: bold;
    }
  }

  .level_4 {
    margin-left: 1rem;
  }

}