@font-face {
  font-family: 'bariolregular';
  src: url('../../../files/theme-sac-pilatus/fonts/bariol/regular/bariol_regular-webfont.eot');
  src: url('../../../files/theme-sac-pilatus/fonts/bariol/regular/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../../files/theme-sac-pilatus/fonts/bariol/regular/bariol_regular-webfont.woff2') format('woff2'),
  url('../../../files/theme-sac-pilatus/fonts/bariol/regular/bariol_regular-webfont.woff') format('woff'),
  url('../../../files/theme-sac-pilatus/fonts/bariol/regular/bariol_regular-webfont.ttf') format('truetype'),
  url('../../../files/theme-sac-pilatus/fonts/bariol/regular/bariol_regular-webfont.svg#bariolregular') format('svg');
  font-weight: normal;
  font-style: normal;

}