{% do addHtmlToHead('
    <style'~attrs().setIfExists('nonce', csp_nonce('script-src'))~'>
    .mod_event-button-box .overflow-x-auto {
        overflow-x: auto;
    }
    </style>
') %}

<div class="mod_event-button-box">
    <nav class="overflow-x-auto">
        <ul class="d-inline-flex flex-nowrap">
            <li class="d-inline">
                {{ insert_tags('module::424') }}
            </li>
            <li class="d-inline">
                {{ insert_tags('module::348') }}
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
