<!-- indexer::stop -->
<div class="footer-row-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- indexer::continue -->
                {{ insert_tag('insert_module::304')|raw }}
                <!-- indexer::stop -->
            </div>
        </div>
    </div>
</div>

<div class="copyright-box footer-row-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center">
                <strong>SAC Sektion Pilatus</strong>
                <address>
                    Schweizer Alpenclub SAC, Sektion Pilatus,
                    Bireggring 1, 6005 Luzern
                </address>
            </div>
        </div>
    </div>
</div>
<!-- indexer::continue -->
