ul.pagination {

  padding-left: 1px;

  li {
    @extend .page-item;

    a {
      @extend .page-link;
      background-color: #fff;
      border-color: $gray-300;
    }

    margin-right: 2px;
  }

  > li > span, > li > a {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
  }


}
